{% extends "base.html" %}

{% block titulo %}🧍VISITANTES {% endblock %} 

{% block contenido %}

    <table class="table">
        <thead>
            <tr>
                <th>FECHA</th>
                <th>USUARIO</th>
                <th>ACCION</th>
                <th>VISITANTE</th>
                <th>DETALLES</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
        
    </table>
{% endblock %}