{% extends "base.html" %}

{% block titulo %}🧍VISITANTES {% endblock %} 

{% block contenido %}

    <table class="table">
        <thead>
            <h4 class="text-center"></i>REGISTRO AUDITORIA</h5>
            <tr>
                <th>FECHA</th>
                <th>USUARIO</th>
                <th>ACCION</th>
                <th>VISITANTE</th>
                <th>DETALLES</th>
            </tr>
        </thead>

        <tbody>

            {% for registro in registros %}
            <tr>
                <td>{{ registro.fecha_hora }}</td>
                <td>{% if registro.usuario %}
                        {{ registro.usuario.nombre }}
                    {% else %}
                        Sin usuario
                    {% endif %}
                </td>
                <td>{{ registro.accion }}</td>
                <td>{{ registro.visita.nombre }} {{ registro.visita.apellido }}</td>
                <td>{{ registro.detalles }}</td>
            </tr>
            {% endfor %}

        </tbody>

    </table>
{% endblock %}